<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="iShopEntities" connectionString="metadata=res://*/DAL.iShop.csdl|res://*/DAL.iShop.ssdl|res://*/DAL.iShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=iShop;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>